@import "mixins.less";

@text-color: #000;

html {
	background-color: #000;
	background-image: url('/images/kk_sm.png');
	pointer-events: all !important;
}

html,
body {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	font-family: 'Heebo', sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Archivo', sans-serif;
	font-weight: 600;
	letter-spacing: -1px;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
	color: @text-color;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	cursor: pointer;
}

p {
	font-size: 16px;
	font-weight: 300;
}

svg {
	max-width: 100%;
	display: block;
	margin: auto;
	text {
		font-weight: 700;
		letter-spacing: 2px;
		pointer-events: all;
	}
	.small-viewport({
		width: 100vw;
	});
}

.container {
	width: 90%;
	display: block;
	margin: auto;
	padding: 0;
}

#window-left {
	background: #fff;
	position: fixed;
	width: 50vw;
	height: 100%;
	padding-bottom: 25px;
	overflow-y: scroll;
	.small-viewport({
		position: relative;
		width: 100vw;
	});
}

#window-right {
	background: #eee;
	position: fixed;
	left: 50vw;
	width: 50vw;
	height: 100%;
	overflow-y: scroll;
	img {
		width: 100%;
	}
	.small-viewport({
		position: relative;
		left: auto;
		width: 100vw;
		height: auto;
		max-height: 100%
	});
}

#title {
	padding-left: 15px;
	margin-bottom: 20vh;
}

.project-image-caption {
	background: #000;
	color: #FFF;
	font-size: 10px;
	width: 100%;
	text-align: right;
	padding: 5px;
}

.project-links {
	a {
		font-size: 13px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

.project-label-hide {
	display: none;
}

#project-label-show {
	cursor: pointer;
	display: inline;
}

#project-label-show:hover {
	opacity: 0.5;
}

circle {
	cursor: pointer;
}
